.header {
    &__container{
        padding: 8px 16px;
        display: flex;
        justify-content: space-between;
    }

    &__logo{
        max-width: 80px;
        width: 100%;
        margin: 5px;
    }

    &__links{
        display: flex;


        &__item{
            margin: 5px;
        }
    }

    .button {
        height: 50px;
    }
}